################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Window/Window/.vs/Window
/.vs
/Window/Window/x64/Debug
